.csb-search {

    &__form {
        background-color: rgb(179, 174, 174);
        margin: 20px 0;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid black;

    }
}

.form-control {
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 14px; 
 }