<header class="header">
    <div class="row csb-search__form">
        <div class="col-xs-1">
            <div class="form-group">
                <label> {{ 'filter.searchType' | i18nextCap }} </label>
                <select class="form-control input-sm" [(ngModel)]="filmService.searchType" id="plot">
                    <option *ngFor='let type of _enums.SearchType | enumList : { dictName: "SearchType" }'
                        [ngValue]='type.id'>
                        {{ type.name | i18nextCap }}
                    </option>
                </select>
            </div>
        </div>
        <form *ngIf="filmService.searchType === _enums.SearchType.freeSearch" class=" col-xs-10"
            [formGroup]="searchForm">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.filmTitle' | i18nextCap }} </label>
                            <input autocomplete="off" formControlName="s" name="s"
                                class="csb-search__searcher col-xs-12 form-control input-sm" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.filmType' | i18nextCap }} </label>
                            <select class="form-control input-sm" formControlName="type" id="type">
                                <option [ngValue]="null">Not Selected</option>
                                <option *ngFor='let type of _enums.FilmType | enumList : { dictName: "FilmType" }'
                                    [ngValue]='type.id'>
                                    {{ type.name | i18nextCap }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.year' | i18nextCap }} </label>
                            <input class="form-control input-sm" type="number" name="y" formControlName="y" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class=" col-xs-1">
                        <button (click)="freeFilmsSearch(searchForm.value)"
                            class="btn btn-block btn-primary">Find</button>
                    </div>
                    <div class="col-xs-1">
                        <button (click)="clear(searchForm)" class="btn btn-block">Clear</button>
                    </div>
                </div>
            </div>
        </form>
        <form *ngIf="filmService.searchType === _enums.SearchType.exactSearch" class="col-xs-10"
            [formGroup]="searchByIdTitleForm">
            <div class="col-xs-12 ">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.filmTitle' | i18nextCap }} </label>
                            <input autocomplete="off" formControlName="t" name="t"
                                class="csb-search__searcher col-xs-12 form-control input-sm" type="text" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.imdbId' | i18nextCap }} </label>
                            <input class="form-control input-sm" type="email" name="i" formControlName="i" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.filmType' | i18nextCap }} </label>
                            <select class="form-control input-sm" formControlName="type" id="type">
                                <option [ngValue]="null">Not Selected</option>
                                <option *ngFor='let type of _enums.FilmType | enumList : { dictName: "FilmType" }'
                                    [ngValue]='type.id'>
                                    {{ type.name | i18nextCap }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.year' | i18nextCap }} </label>
                            <input class="form-control input-sm" type="number" name="y" formControlName="y" />
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label> {{ 'filter.plotType' | i18nextCap }} </label>
                            <select class="form-control input-sm" formControlName="plot" id="plot">
                                <option [ngValue]="null">Not Selected</option>
                                <option *ngFor='let type of _enums.PlotType | enumList : { dictName: "PlotType" }'
                                    [ngValue]='type.id'>
                                    {{ type.name | i18nextCap }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-1">
                        <button (click)="exactFilmSearch(searchByIdTitleForm.value)"
                            class="btn btn-block btn-primary">Find</button>
                    </div>
                    <div class="col-xs-1">
                        <button (click)="clear(searchByIdTitleForm)" class="btn btn-block">Clear</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-xs-1">
            <div class="form-group" (click)="seeFavoriteList()">
                <label> favorite list </label>
                <button class="btn">
                    check
                </button>
            </div>
        </div>
    </div>
</header>